@page "/list"
@using Microsoft.EntityFrameworkCore
@using NewUserManagement.Shared.Models
@using NewUserManagement.Client.Components.Public
@using NewUserManagement.Client.Components.Public.List
@using System.Net.Http.Json
@using System.Net.Http
@using NewUserManagement.Client.Services
@using System.Text
@using System.Text.Json

<NavBar />
@if (_showingViewModalWindow)
{
	<View ViewModalClickBtnClose="CloseModal" UserId="_selectedUserId" />
}
else if (_showingEditModalWindow)
{
	<Edit EditModalClickBtnClose="CloseModal" UserId="_selectedUserId" OnModalClosed="SuccessEditMsgOnClose" OnEditModalClosed="HandleModalClosed" />
}
else if (_showingAddModalWindow)
{
	<Add AddModalClickBtnClose="CloseModal" UserId="_selectedUserId" OnModalClosed="SuccessAddMsgOnClose" OnAddModalClosed="HandleModalClosed" />
}

<main class="container min-vh-90 py-nd-5">
    <h2 class="p-5">User List</h2>
	@if (showSuccessMessage == true)
	{
		<div class="alert alert-success d-flex justify-content-between fade-out" role="alert">
			<i class="fa-solid fa-circle-check"> </i>
			@{
				string message = "";
				switch (successMessageType)
				{
					case SuccessMessageType.Edit:
						message = "Updated User Details Successfully!";
						break;
					case SuccessMessageType.Add:
						message = "Added User Details Successfully!";
						break;
					case SuccessMessageType.Delete:
						message = "Deleted User/s Successfully!";
						break;
					default:
						break;
				}
			}
			<dt>@message</dt>
			<button @onclick="CloseSuccessMessage" type="button" class="btn-close" aria-label="Close"></button>
		</div>
		Console.WriteLine(message)
		;
	}
    <div class="container min-vh-90 py-nd-5 table-responsive">

        <table class="table table-striped">
            <thead>
                <tr>
					<th><input type="checkbox" @bind="IsSelectAllChecked" /></th>
                    <th>Id</th>
                    <th>Forename</th>
                    <th>Surname</th>
                    <th>Email</th>
                    <th>Account Active</th>
                    <th>Date Of Birth</th>
                    <th style="width: 1px;"></th>
                </tr>
            </thead>
            @if (isLoading)
            {
                <Loading />
            }
            else
						{
                <tbody>
                    @foreach (var user in DatabaseCache.Users)
                    {
                        <tr>
							<td><input type="checkbox" checked="@IsSelectAllChecked" @onchange="(e) => ToggleSelection(user?.Id ?? 0, e)" /></td>



														<td>@user.Id</td>
                            <td>@user.Forename</td>
                            <td>@user.Surname</td>
                            <td>@user.Email</td>
                            <td>@(user.IsActive ? "Yes" : "No")</td>
                            <td>@user.DateOfBirth.ToShortDateString()</td>
                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" id="btnToggleActions">
                                        Actions
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="btnToggleActions">
                                        <li>
																						<button @onclick="() => ViewUser(user.Id)" class="btn dropdown-item">View</button>
                                        </li>
                                        <li>
                                            <button @onclick="() => EditUser(user.Id)" class="btn dropdown-item">Edit</button>
                                        </li>
                                        <li>
                                            <button @onclick="() => DeleteUser(user.Id)" class="btn dropdown-item">Delete</button>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            }
        </table>
		<div class="container py-nd-5">
			<div class="btn-group" role="group">
				<button @onclick="FetchAllUsers" class="btn btn-primary">Show All</button>
				<button @onclick="FetchActiveUsers" class="btn btn-primary">Active Only</button>
				<button @onclick="FetchInactiveUsers" class="btn btn-primary">Non Active</button>

			</div>
			<button @onclick="AddUser" class="btn btn-primary float-end">Add User</button>

			@if (IsDeleteButtonVisible)
			{
				<button @onclick="DeleteSelected" class="btn btn-primary float-end">Delete User</button>
			}
		</div>

    </div>



</main>
<FooterBar />

@code {
		@inject InMemoryDatabaseCache DatabaseCache
		@inject HttpClient HttpClient
		private bool showingActiveUsers = false;
		private List<User> users = new List<User>();
    private bool isLoading = true; // Flag to indicate loading state
    protected override async Task OnInitializedAsync()
    {
				await DatabaseCache.GetUsersFromDatabaseAndCache(null);
				isLoading = false;
    }
	private bool IsDeleteButtonVisible { get; set; } = false;

	
    
	private async Task FetchAllUsers()
	{
		isLoading = true; // Set loading flag to true
		try
		{
			await DatabaseCache.GetUsersFromDatabaseAndCache(null);
		}
		catch (Exception)
		{
			Console.WriteLine("User Loading from database failed. Please try again or contact a system administrator if the problem persists.");
		}
		finally
		{
			isLoading = false; // Set loading flag to false when loading completes or fails
		}
	}

	private async Task FetchActiveUsers()
	{
		try
		{
			// Check if active users are currently being displayed
			if (!showingActiveUsers)
			{
				// Fetch all users first
				await FetchAllUsers();
				showingActiveUsers = true;
			}

			// Call the GetActiveUsers method from the cache service with appropriate page and pageSize parameters
			var activeUsers = await DatabaseCache.GetActiveUsers(DatabaseCache.CurrentPage, 10); // Assuming pageSize is 10

			// Update the list of users displayed in the UI with activeUsers
			DatabaseCache.Users = activeUsers;
		}
		catch (Exception)
		{
			// Handle any errors
		}
	}

	private async Task FetchInactiveUsers()
	{
		try
		{
			// Check if inactive users are currently being displayed
			if (showingActiveUsers)
			{
				// Fetch all users first
				await FetchAllUsers();
				showingActiveUsers = false;
			}

			// Call the GetInactiveUsers method from the cache service with appropriate page and pageSize parameters
			var inactiveUsers = await DatabaseCache.GetInactiveUsers(DatabaseCache.CurrentPage, 10); // Assuming pageSize is 10

			// Update the list of users displayed in the UI with inactiveUsers
			DatabaseCache.Users = inactiveUsers;
		}
		catch (Exception)
		{
			// Handle any errors
		}
	}

	private async Task DeleteUser(int userId)
	{
		try
		{
			// Get the user to delete from the cache
			var userToDelete = await DatabaseCache.GetUserDetails(userId);

			// Check if the user exists
			if (userToDelete == null)
			{
				// Handle case where user is not found
				Console.WriteLine($"User with ID {userId} not found.");
				return;
			}

			// Call the API to delete the user
			var response = await HttpClient.DeleteAsync($"api/User/{userId}");

			// Check if the request was successful (status code 200)
			if (response.IsSuccessStatusCode)
			{
				// If the deletion was successful, remove the user from the cache
				await DatabaseCache.RefreshCache(HttpClient);
				Console.WriteLine($"User with ID {userId} deleted successfully.");
				await FetchAllUsers();
				await SuccessDeleteMsgOnClose();

			}
			else
			{
				// Handle the case where the server responded with an error status code
				Console.WriteLine($"Failed to delete user with ID {userId}. Status code: {response.StatusCode}");
			}
		}
		catch (Exception ex)
		{
			// Handle any exceptions that occur during the deletion
			Console.WriteLine($"An error occurred while deleting user with ID {userId}: {ex.Message}");
		}
	}
	private async Task DeleteSelected()
	{
		try
		{
			// Get the IDs of selected users
			var selectedUserIds = GetSelectedUserIds();
			if (selectedUserIds.Count == 0)
			{
				// No users selected, display a message or handle it as needed
				return;
			}

			// Call the API to delete the selected users
			var json = JsonSerializer.Serialize(selectedUserIds);
			var content = new StringContent(json, Encoding.UTF8, "application/json");
			var response = await HttpClient.PostAsync("api/User/delete-multiple", content);
			response.EnsureSuccessStatusCode();

			// Remove the deleted users from the cache
			foreach (var userId in selectedUserIds)
			{
				var user = DatabaseCache.Users.FirstOrDefault(u => u.Id == userId);
				if (user != null)
				{
					DatabaseCache.Users.Remove(user);
				}
			}

			// Reload the cache to reflect the updated data
			await DatabaseCache.RefreshCache(HttpClient);

			// Clear the selected user IDs list and hide the delete button
			SelectedUserIds.Clear();
			IsSelectAllChecked = false; // Reset the IsSelectAllChecked property
			await FetchAllUsers();
			await SuccessDeleteMsgOnClose();
			IsDeleteButtonVisible = false;
		}
		catch (Exception ex)
		{
			// Handle the error, such as displaying an error message
			Console.WriteLine($"An error occurred while deleting selected users: {ex.Message}");
		}
	}
	// Method to retrieve selected user IDs
	private List<int> GetSelectedUserIds()
	{
		return SelectedUserIds.ToList(); // Return a copy of the SelectedUserIds list
	}

	private List<int> SelectedUserIds { get; set; } = new List<int>();
	private void ToggleSelection(int userId, ChangeEventArgs e)
	{
		if (e.Value is bool isChecked && isChecked)
		{
			SelectedUserIds.Add(userId); // Add to selected list
		}
		else
		{
			SelectedUserIds.Remove(userId); // Remove from selected list
		}

		// Update IsDeleteButtonVisible based on the number of selected users
		IsDeleteButtonVisible = SelectedUserIds.Count > 0;
	}
	private bool IsSelectAllChecked { get; set; }

	// Method to toggle the selection state of all users
	private void ToggleSelectAll()
	{
		// Clear the existing selected user IDs list if the select all checkbox is unchecked
		if (!IsSelectAllChecked)
		{
			SelectedUserIds.Clear();
			return;
		}

		// If select all checkbox is checked, add all user IDs to the selected user IDs list
		SelectedUserIds.Clear();
		foreach (var user in DatabaseCache.Users)
		{
			SelectedUserIds.Add(user.Id);
		}
	}

	private int _selectedUserId;
	public bool _showingViewModalWindow = false;
	public bool _showingEditModalWindow = false;
	public bool _showingAddModalWindow = false;

	@inject IJSRuntime JSRuntime
	private async Task UpdateUrlWithoutNavigation(string route, int? userId)
	{
		// Construct the URL based on the route and userId
		string url = userId.HasValue ? $"/list/{route}/{userId}" : $"/list/{route}";

		// Invoke the JavaScript function to update the URL
		await JSRuntime.InvokeVoidAsync("updateUrlWithoutNavigation", route, userId);
	}

	private async void ViewUser(int userId)
	{
		_showingViewModalWindow = true;
		_selectedUserId = userId;
		await UpdateUrlWithoutNavigation("view", userId);
	}
	private async void EditUser(int userId)
	{
		_showingEditModalWindow = true; // Show the edit modal
		_selectedUserId = userId;
		await UpdateUrlWithoutNavigation("edit", userId);
	}
	private void AddUser()
	{
		_showingAddModalWindow = true; // Show the add modal
	}
	private void CloseModal()
	{
		_showingAddModalWindow = false;
		_showingViewModalWindow = false;
		_showingEditModalWindow = false;

	}


	public bool showEditSuccessMessage { get; set; }
	public bool showAddSuccessMessage { get; set; }
	public bool showDeleteSuccessMessage { get; set; } = false;
	// Define SuccessMessageType enum
	enum SuccessMessageType
	{
		Edit,
		Add,
		Delete
	}

	// Properties
	private bool showSuccessMessage { get; set; } = false; // Example condition to show the message
	private SuccessMessageType successMessageType { get; set; }
	private async Task SuccessEditMsgOnClose()
	{
		showSuccessMessage = true;
		successMessageType = SuccessMessageType.Edit;
		// Display the success message
		// Delay before showing the success message
		await Task.Delay(3000);
		CloseSuccessMessage();


	}
	private async Task SuccessAddMsgOnClose()
	{
		showSuccessMessage = true;
		successMessageType = SuccessMessageType.Add;
		// Display the success message
		// Delay before showing the success message
		await Task.Delay(3000);
		CloseSuccessMessage();

	}
	private async Task SuccessDeleteMsgOnClose()
	{
		showSuccessMessage = true;
		successMessageType = SuccessMessageType.Delete;
		HideDeleteButton();
		await Task.Delay(3000); // Delay for 3 seconds

		CloseSuccessMessage();

	}
	private void CloseSuccessMessage()
	{
		// Reset the success message flag
		showSuccessMessage = false;
		CloseModal();
	}


	private void HideDeleteButton()
	{
		// Reset the success message flag
		IsDeleteButtonVisible = false;
		SelectedUserIds.Clear();

	}
	private async Task HandleModalClosed()
	{
		// Fetch all users to refresh the user list
		await FetchAllUsers();
	}
}
