@page "/list/add"
@using Microsoft.AspNetCore.Identity
@using NewUserManagement.Client.Services
@using NewUserManagement.Client.Pages.Public
@using NewUserManagement.Client.Components
@using NewUserManagement.Shared.Models
@using NewUserManagement.Client.Components.Public
@using Microsoft.JSInterop
@using System.ComponentModel.DataAnnotations
@using static NewUserManagement.Client.Services.LoggingClientService



<div class="modal @(_modalClass)" id="informationalModal" tabindex="-1" aria-labelledby="informationalModalLabel" role="dialog" style="display:@_modalDisplay">
	<div class="modal-dialog" role="document">
		<div class="modal-content bg-dark">
					<div class="modal-header">
						<h5 class="modal-title">Add User</h5>
						<button @onclick="CloseAddModal" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
				<UserForm UserDetails="@UserDetails" OnSubmit="@AddUserSubmit" OnSuccess="@ShowSuccessMsg" OnFailure="@ShowFailureMsg" IsAddUser="true" />

						@if (showErrorMessage)
						{
							<div class="alert alert-danger" role="alert">
								Failed to update user details. Please try again.
							</div>
						}

					</div>
					<div class="modal-footer">
						<button @onclick="CloseAddModal" type="button" class="btn btn-primary shadow" data-bs-dismiss="modal">Close</button>
					</div>
		</div>
	</div>
</div>

@if (_showBackdrop == true)
{
	<div class="modal-backdrop fade show"></div>
}
@code {

  @inject InMemoryDatabaseCache DatabaseCache
  @inject NavigationManager NavigationManager
  @inject IJSRuntime JSRuntime
  @inject HttpClient HttpClient
  @inject ILogger<Add> Logger
  @inject LoggingClientService.ILogService _logService
	@inject IPasswordHasher<AppUser> _passwordHasher

	public bool showSuccessMessage = false;
	public bool showErrorMessage = false;
	[Parameter] public string? userId { get; set; }
	[Parameter] public EventCallback OnModalClosed { get; set; }
	[Parameter] public EventCallback AddModalClickBtnClose { get; set; }
	[Parameter] public EventCallback OnAddModalClosed { get; set; }
	[Parameter] public bool _showingAddModalWindow { get; set; }
	private string? _modalDisplay { get; set;}
	private string? _modalClass { get; set; }
	private bool _showBackdrop { get; set; }
	private bool? isLoading = true; // Flag to indicate loading state

	private AppUserDTO UserDetails { get; set; } // Initialize with a default user object
	protected override async Task OnInitializedAsync()
	{
		// You can add an asynchronous operation that doesn't await anything to satisfy the requirement.
		await Task.CompletedTask;
		isLoading = false;
		// Initialize UserDetails with default values or leave it as an empty object
		UserDetails = new AppUserDTO();
	}
	public async Task LogUserCreation(string userId, string action, string details)
	{
		try
		{
			// Create a log entry for the user creation action
			var logEntry = new LogEntry
				{
					Timestamp = DateTime.UtcNow,
					UserId = userId,
					Action = action,
					Details = details
				};

			// Call the method to add the log entry
			await _logService.AddLogEntryAsync(logEntry);

			// Optionally, you can log a message indicating that the user creation was successfully logged
			Logger.LogInformation("User creation logged successfully.");
		}
		catch (Exception ex)
		{
			// Log or handle any exceptions that occur during user creation logging
			Logger.LogError(ex, "Error occurred while logging user creation: {ErrorMessage}", ex.Message);
			throw; // Re-throw the exception to propagate it to the caller
		}
	}
	private bool IsAddUser { get; set; }

	protected override void OnInitialized() => ShowAddModal();

	private async void ShowAddModal()
	{
		_modalDisplay = "block;";
		_modalClass = "show";
		_showBackdrop = true;
		IsAddUser = false;

		await updateUrlWithoutNavigation("add");
	}
	private async Task CloseAddModal()
	{
		_modalDisplay = "none;";
		_modalClass = string.Empty;
		_showBackdrop = false;
		IsAddUser = true;

		await Task.Delay(0);
		await AddModalClickBtnClose.InvokeAsync();
		NavigationManager.NavigateTo("/list");

	}
	private async Task updateUrlWithoutNavigation(string route)
	{
		string url = $"/list/{route}";
		await JSRuntime.InvokeVoidAsync("updateUrlWithoutNavigation", route);

	}
	private async Task FetchAllUsers()
	{
		isLoading = true; // Set loading flag to true
		try
		{
			await DatabaseCache.GetUsersFromDatabaseAndCache();
		}
		catch (Exception)
		{
			Console.WriteLine("User Loading from database failed. Please try again or contact a system administrator if the problem persists.");
		}
		finally
		{
			isLoading = false; // Set loading flag to false when loading completes or fails
		}
	}
	private async Task AddUserSubmit()
	{
		if (IsValidUser())
		{
			var user = new AddUserDTO
				{
					Forename = UserDetails?.Forename ?? "",
					Surname = UserDetails?.Surname ?? "",
					Email = UserDetails?.Email ?? "",
					DateOfBirth = UserDetails?.DateOfBirth ?? DateTime.MinValue,
					Password = UserDetails.Password
				};



			var response = await HttpClient.PostAsJsonAsync("/api/user", user);
			if (response.IsSuccessStatusCode)
			{
				Console.WriteLine("User added successfully!");
				await AddModalClickBtnClose.InvokeAsync();
				await OnAddModalClosed.InvokeAsync();
				// Retrieve the UserId from the refreshed cache
				// Fetch the last user from the database
				var lastUser = DatabaseCache.Users.LastOrDefault();

				// Check if a user was found
				if (lastUser != null)
				{
					// Obtain the UserId of the last user
					string userId = lastUser.Id;

					// Now you can use the userId for logging or other operations
					await LogUserCreation(userId, "UserAdded", $"User {lastUser.Forename} {lastUser.Surname} successfully added to the database.");
				}
				else
				{
					Console.WriteLine("Failed to retrieve added user from cache.");
					await ShowFailureMsg();
				}
			}
			else
			{
				Console.WriteLine("Failed to add user. Please try again.");
				await ShowFailureMsg();
			}
		}
	}




	private bool IsValidUser()
	{
		if (UserDetails == null)
		{
			Console.WriteLine("UserDetails is null.");
			return false;
		}

		// Output UserDetails properties for debugging
		Console.WriteLine($"Forename value: {UserDetails.Forename}");
		Console.WriteLine($"Surname value: {UserDetails.Surname}");
		Console.WriteLine($"Email value: {UserDetails.Email}");
		Console.WriteLine($"DOB value: {UserDetails.DateOfBirth}");

		// Create ValidationContext only if UserDetails is not null
		var validationContext = new ValidationContext(UserDetails);

		var validationResults = new List<ValidationResult>();

		if (!Validator.TryValidateObject(UserDetails, validationContext, validationResults, true))
		{
			foreach (var validationResult in validationResults)
			{
				Console.WriteLine(validationResult.ErrorMessage);
			}
			return false;
		}

		return true;
	}
	private async Task ShowSuccessMsg()
	{
		await CloseAddModal();
		await OnModalClosed.InvokeAsync();


	}

	private async Task ShowFailureMsg()
	{
		showErrorMessage = false;
		await Task.Delay(0);
	}



}
